.map {
    height: 600px;
    width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

#Boop{
  display: none;
}

.buttonVocal{
  background: url('../../img/photo-1467685790346-20bfe73a81f0.jpeg'); 
  color: #96272F;
  font-weight: bold;
  border-radius: 12px;
  margin: 2%;
  padding: 2vw;
}

.textbutton{
  font-size: 1.3rem;
}

.button{    
  display: flex;
  justify-content: center;

}

.mapStatistics {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

div.mapBackground{
  background: url('../../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 2px;
}

@media only screen and ( max-width: 1000px) {
    .map {
    width: 600px;
    height: 500px;
    }
    }
  
  @media only screen and ( max-width: 800px) {
      .map {
      width: 500px;
      height: 400px;
      }
    }
  
  @media only screen and (max-width: 600px) {
      .map {
      width:400px;
      height: 300px;
      }
    }
  
  @media only screen and (max-width: 400px) {
      .map {
      width:300px;
      height: 200px;
      }
      .buttonVocal{
        padding: 0;
      }
      .textbutton{
        font-size: 1rem;
      }
    }
